services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres # replace with your username
      POSTGRES_PASSWORD: postgres # replace with your password
      POSTGRES_DB: olsdb
    ports:
      - "5432:5432"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
      - ./pgdata:/var/lib/postgresql/data
